<div class="comment">
		
	<p class="commenttext"><%= comment.comment_text%></p>
	<p class="comment-posted-by">Posted by <%= comment.user.email if comment.user%>

	<div class="links">
		<% if user_signed_in? %>
			<% if comment.user_id == current_user.id %>
				<%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
				<%= link_to "Delete", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "Are you sure?"} %>
			<% end %>
		<% end %>
		
	</div>
	

</div>