<html><body>



<section id = "profileHeader">
<h1 align="center"><%= @user.firstname %> <%= @user.lastname %></h1>
	<div class="profileimg">
		<center>
		<%= image_tag @user.image.url(:medium), class: "img-circle" %>
	</div>
</section>

<section id = "allposts">
<div class = "postsLabel">
<h2 align="center"><%= @user.firstname %>'s Posts</h2>
</div>
	
	<% @posts.each do |post| %>
	<center>
	<div class="col-md-4">
 	<h2 class="status"><%= post.status %></h2>
 	<%= link_to "View Comments", post_path(post), class: "btn-viewcomment" %> 
 	</div> 
    <% end %>
</section>

<section id = "friends">
<div class = "friendsLabel">
<h2 align="center"><%= @user.firstname %>'s Friends</h2>
</div>
	 <% for user in @user.friends %>
 	 <%= image_tag user.image.url(:medium), class: "img-circle" %>
 	 <%= link_to user.firstname, user %>
  <% end %>  
</section>


<h2>Users Who Have Befriended <%= @friendship.friend.firstname %> </h2> 
<ul>
  <% for user in @user.inverse_friends %>
  <%= image_tag user.image.url(:medium), class: "img-circle" %>
   <%= link_to user.firstname, user %>
  <% end %>
</ul>