<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

  <title>Buddler.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/font-awesome.css" rel="stylesheet" />    
  <link href="assets/css/style.css" rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body > 
   
        <div class="navbar navbar-inverse navbar-fixed-top " >
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" ><strong style="">Buddler.</strong> </a>
            </div>
            
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right set-links">

                    <% if user_signed_in? %>
                      <li><%= link_to "Home", new_user_session_path %></li>
                      <li><%= link_to "Add new post", new_post_path %></li>
                      <li><%= link_to "My Profile", current_user %></li>
                      <li><%= link_to('Edit Profile', edit_user_registration_path(@current_user))%></li>
                      <li><%= link_to "Logout", destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %></li>
                         
                    <% else %>
                        <li><%= link_to "Sign Up", new_user_registration_path %> </li>
                        <li><%= link_to "Sign In", new_user_session_path %> </li>
                    <% end %>
                  
                </ul>
            </div>

           <div class="searchUser">
             <% if user_signed_in? %>
                <%= form_tag users_path, :method => 'get' do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search a Buddy :)", class: "searchField" %>
                  <%= submit_tag "Search", class: "searchBtn", :firstname => nil  %>
                <% end %> 
             <% end %>
        </div>

        </div>

    </div>
    <hr>
    <!--MENU SECTION END-->
    

    <% if user_signed_in? %>
  
    <section id="home-sec1">
    

        <%= yield %>
      
    </section>
 
    <% else %>
      <section id="home-sec">
        <div class="overlay text-center">
      
        </div>
    </section>
    <% end %>

    
     <% if user_signed_in? %>
      
    <% else %>
     <section id="search-domain" >
      <div class="container">
            <div class="row">
        <div class="col-md-8">
           <%= form_tag(users_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], class: "form-control input-cls" %>
        </div>
                <div class="col-md-4">
                   <%= submit_tag "SEARCH A BUDDY", class: "btnsearch"  %>
                </div>
            </div>
        </div>
        <% end %>
    </section>
    <% end %>

</body>
</html>